// Pick default colours
$blue: #0E89C2;
$green: #40AD49;
$red: #FC614C;
$orange: #FCB03C;
$black: #314046;
$yellow: #ffffcc;
$grey: #e5e5e5;
$light-grey: #fafafa;
$muted: #afc0c7;
$background: #F9F9F2;
