@mixin button_style_1($color){
	background: $color !important;
	@include border_radius(5px, 5px, 5px, 5px);
	border: 1px solid darken($color, 2%) !important;
	border-bottom: 2px solid darken($color, 10%) !important;
	&:hover{
		border: 1px solid darken($color, 1%) !important;
		border-bottom: 2px solid $color !important;
	}
}
