.blogr{
  ul.custom-muted {
      list-style: none;
      padding:0;
      margin:0;

      li:before {
          content: "- ";
          color: $muted; /* or whatever color you prefer */
      }
  }
}
