.blogr{
  .post{
    .header{
      img{
        max-width: 100%;
        height: auto;
        max-height: 400px;
        margin-bottom: 20px;
      }
    }
    .headline{
      font-family: $font-family-secondary;
      font-size: 30pt;
      line-height: 60px;
      color: $black;
    }
    .info{
      font-family: $font-family-secondary;
      font-size: 14pt;
    }
    .shares{
    }
  }

  .content{
    font-family: $font-family-secondary;
    font-size: 15pt;
    h2{
      font-size: 30px;
      line-height: 60px;
      font-weight: 700;
    }
    h3{
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }
    p{
      line-height: 1.5;
      margin-top: 0em;
      margin-bottom: 2em;
    }
    img{
      max-width: 100% !important;
      height: auto !important;
    }
    li{
      margin-bottom: 1em;
    }
  }

  .m-form{
    padding: 30px;
    border: 1px solid $grey;
    background: white;
    @include border_radius(5px,5px,5px,5px);
  }

  .m-default{
    padding: 30px;
    border: 1px solid $grey;
    background: white;
    @include border_radius(5px,5px,5px,5px);
  }

  .m-attention{
    font-family: $font-family-secondary;
    background: $background;
    border: 10px solid white;
    @include box_shadow(darken($grey, 1%), 0px, 2px, 5px, 1px);
    .contents{
      width: 100%;
      height: 100%;
      border: 1px solid darken($background, 10%);
    }
    // @include border_radius(5px,5px,5px,5px);
  }
}
