.blogr{
  .post{
    .header{
      img{
        max-width: 100%;
        height: auto;
        max-height: 400px;
      }
    }
    .headline{
      font-family: $font-family-secondary;
      font-size: 30pt;
      line-height: 60px;
      color: $black;
    }
    .info{
      font-family: $font-family-secondary;
      font-size: 14pt;
    }
    .content{
      font-family: $font-family-secondary;
      font-size: 15pt;
      p{
        line-height: 1.5;
        margin-top: 0em;
        margin-bottom: 2em;
      }
    }
    .shares{
    }
  }
}
