.marketing{
  .navbar-custom{
    background: white;
  }
}

.navbar-custom{
  background-color:rgba(255,255,255,0.98);
  background: $interface-bg;

  .navbar-toggle .icon-bar {
    background-color: $black;
  }

  .nav-spacer{
    height: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-right: 1px solid $grey;
    float: left;
  }
  .navbar-nav > li > a.black-link{
    padding-top: 20px;
    color: $black;
    &:hover{
      background: transparent;
      text-decoration: underline;
    }
  }
  .navbar-nav > li > a.normal-link{
    padding-top: 20px;
    color: $blue;
    text-decoration: underline;
    &:hover{
      background: transparent;
      text-decoration: underline;
      color: $dark-blue;
    }
  }
  .navbar-nav > li > a.btn{
    margin-top: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.nav-border{
  border-bottom: 1px solid $grey;
}

.account-nav{
  .nav-pills > li{
    margin: 0;
  }
  .nav-pills > li > a {
    @include border_radius(0,0,0,0);
    border-top: 1px solid $grey;
    border-bottom: 1px solid white;
    &:hover{
      background-color: $interface-bg;
    }
  }
  .nav-pills > li.active > a {
    background-color: $interface-bg;
    color: $black;
    font-weight: bold;
  }
}
