<div class="errors">
  <% if object.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h2 class="alert-heading">
        <%= "#{pluralize(object.errors.count, "error")}:" %>
      </h2>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
